DISCORD_TOKEN=
DISCORD_CLIENT_ID=
GEMINI_API_KEY=
OPENAI_API_KEY=
AI_VEHICLE_SECRET=
FIVEM_BASE_URL=http://127.0.0.1:30120
SERVER_NAME=Kingpin RP
STAFF_CHANNEL_ID=
LOG_CHANNEL_ID=
ADMIN_ROLE_ID=
GUILD_ID=
